@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure?</h2>

<em><strong>@Html.DisplayFor(model => model.Name)</strong></em> will be deleted.
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("- Back to List -", "Index")