@{
  Layout = "_Layout";
}
<body class="home-bg">

<h1>Welcome to your stylist and client tracker!</h1><hr>
<div class="home-page-links">
  <p>@Html.ActionLink("- See all clients -", "Index", "Clients")</p> 
  <p>@Html.ActionLink("- See all stylists -", "Index", "Stylists")</p>
</div>
<img class="home-img" src="~/css/img/salon-image.jpg" alt="Salon Image" size>
