@{
  Layout = "_Layout";
}

<h1>Welcome to your Stylist and Client tracker!</h1><hr>

<div class="home-page-links">
  <p>@Html.ActionLink("- See all clients -", "Index", "Clients")</p> 
  <p>@Html.ActionLink("- See all stylists -", "Index", "Stylists")</p>
</div>
<img class="home-img" src="~/css/img/salon-image.jpg" alt="Salon Image">
