@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2><em>Are you sure?</em></h2>

<strong><em>@Html.DisplayFor(model => model.Name)</strong></em> will be deleted
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("- Back to List -", "Index")